accelerate>=0.33
autogen
bitsandbytes
crewai
crewai-tools
datasets>=2.20,<3.0
gradio
huggingface-hub
ipython
jupyter
langchain
langchain-core
langchain-groq
langchain-openai
openai
pandas
pyautogen
pypdf
python-dotenv
requests
safetensors>=0.4.3
scikit-learn
sentence-transformers>=3.0.1
torch>=2.3.1
transformers>=4.45.2
unsloth
